.banner {
  position: relative;
  overflow: hidden;
  height: 250px;
  background-color: #000000;
}
.banner .bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: #ffffff;
}
.banner .bannerImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.6;
  height: 250px;
  object-fit: cover
}
.centerItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* text-align: center; */
  justify-content: center;
}
.descText {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}